.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 1rem 0;
  position: fixed;
  width: 100%; /* Adjust width to account for scrollbar */
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px;
}

.navbar-links-div{
    margin-right: 20px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #f0a500;
}
